*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    font-family: "Noto Serif", serif;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 130px;
}
nav ul{
    display: flex;
    gap: 48px;
    list-style: none;


}
 ul li a{
    text-decoration: none;
    color: black;
} 


/* share color */
.main-color{
    color:rgb(137, 135, 161);
    font-weight: 400;
}

.banner{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row;
    padding: 120px 0px;
}

span{
    font-size: 50px;
    font-weight: 700px;
    color: rgb(233, 90, 8);
}

.sige{
    font-size: 50px;
}
.plants{
    text-align: center;
}
.btn{
    margin: 30px 0px;
    padding: 20px 100px;
    background-color: rgb(233, 90, 8);
    border: 0;
    color: azure;
}


.our-plants{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.our-plants-cart{
    text-align: center;
    width: 270px;
    height: 52px; 
    }

.flower-store{
    position: relative;
}

.challenge{
    position: absolute;
    height: 300px;
    width: 300px;
    bottom: 70%;
    left: 70%;
}

.store{
    display: flex;
    margin: 200px 0px;
    align-items: center;
    justify-content: space-between;
}
.gaps{
    margin-top: 30px;
}




/* MOBAIL ER JONNO media querie */

@media screen and ( max-width: 675px){
   .ondho, 
   .challenge{
    display: none;
   }
   .banner{
    flex-direction: column-reverse;
   }
   .store{
    flex-direction: column;
    width: 100%;
   }

   .our-plants{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   }
}

